<div class="well col-md-5 col-offset-1">
  <label class="control-label">Uploaded an Avatar</label>
  <input class="app-avatar-file" type="file" name="user[avatar]" accept="image/jpg, image/jpeg, image/gif, image/png, image/x-png, image/pjpeg" />
</div>
