<h1>Workr Bookmarklet</h1>

<div class="jumbotron">
  <div class="container">
    <p>Drag  
      <a class="btn btn-primary btn-lg app-clipper-plugin" {{bindAttr href="clipper"}}>
        Save to Workr
      </a>
       to your toolbar.</p>
    <p>

    <p>
      <small>
        After you have dragged the "Save to Workr" button to your toolbar you can go to any website and save content for your Workr collections.  Have fun!
      </small>
    </p>
  </div>
</div>

<h1>Workr Chrome Plugin</h1>

<div class="jumbotron">
  <div class="container">
    <p>If you are using Google Chrome, you can
      <button onclick="chrome.webstore.install('', Analytics.installed_chrome_extension)" id="install-button" class="btn btn-primary btn-lg app-clipper-plugin">install the extension</button>
      and add articles from the Chrome toolbar.
    </p>
  </div>
</div>
