<div class="alert alert-block alert-warning">
  <h4>Something went wrong...</h4>
  <p>Sorry, it appears that this page doesn't exist - it may have been moved or deleted. Use the search above or return to your feed to find more great content.</p>
  <p>Thanks,<br /> The Workr team</p>
</div>
